<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>35</integer>
	<key>LibraryBuildTag</key>
	<string>06C3B8BF-FD35-49FF-BC17-642F45ED1B0E</string>
	<key>LibrarySchemaVersion</key>
	<integer>474</integer>
</dict>
</plist>
